.game-ui {
  display: grid;
  gap: 0.6rem;
}

@media (min-width: 755px) {
  .game-ui {
    grid-template-areas:
      'title title'
      'nav main';
    grid-template-columns: fit-content(100%) 300px;
  }

  h1 {
    grid-area: title;
  }

  main {
    grid-area: main;
  }

  nav {
    grid-area: nav;
  }
}
